{% for release in data["pg-backup-api release notes"] %}
pg-backup-api ({{ release.version }}-{{ release.iteration or 1 }}) unstable; urgency=low

    {% for section, changes in release.changes.items() %}
        {% for change in changes %}
{{ format_line(change, 79, "  * ", " "*4) }}

        {% endfor %}
    {% endfor %}
 -- {{ release.author["name"] }} <{{ release.author["email"] }}>  {{ date_parser(release.date).strftime("%a, %-d %b %Y %H:%M:%S %z") }}

{% endfor %}